@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0f0f0;
}

.header{
    background-color: #ff6a28;
    height: 65px;
    text-align: center;
    padding-top: 15px;
}

.banner{
    background-image: url(images/mexidinho.png);
    background-position: center;
    background-size: cover;
    height: 300px;
}

.footer{
    background-color: #ff6a28;
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.card{
   
    width: 600px;
    margin: auto;
    padding: 50px;
    background-color: white;
    margin: 50px auto;
    border-radius: 5px;
    font-weight: 300;
}

h1{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #ff6a28;
    margin-bottom: 20px;
}

li{
    list-style-position: inside;
    line-height: 30px;
    
}

ul{
    margin-bottom: 40px;
}

.boton{
    margin-top: 50px;
    text-decoration: none;
    background-color: #ff6a28;
    color: white;
    padding: 15px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 30px;
}

.boton:hover{
    background-color: #f95c18;
}

.titulo-receta{
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
}

.link-footer{
    font-weight: 700;
    text-decoration: none;
    color: white;
}